// % < MIXINS > ========================================================
// @import "mixins";
// % < / MIXINS > ======================================================


// @import "header.scss";


// % < / VARIABLES > ====================================================
// @import "null";


// % < / VARIABLES > ====================================================




// % < CONNECTING PAGE STYLE FILES AND ELEMENTS > =======================
// @import "popup";
@import "header";
@import "footer";
// @import "home";

// % < / CONNECTING PAGE STYLE FILES AND ELEMENTS > =====================



@import url(https://fonts.googleapis.com/css?family=Montserrat:600,regular,700);
// ! RIGHT BELOW  ----------------------------------------------

*,
*::before,
*::after {
  box-sizing : border-box;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

body {
  padding   : 0;
  margin    : 0;
  background: linear-gradient(to right, #001d4a, #084e98);
}

.calculator-grid {
  display              : grid;
  justify-content      : center;
  align-content        : center;
  min-height           : 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows   : minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid>button {
  cursor          : pointer;
  font-size       : 2.2rem;
  border          : 1px solid #14213d;
  outline         : none;
  color           : #e9ecef;
  background-color: #0b132b;
  opacity         : 90%;
}

.calculator-grid>button:hover {
  background-color: rgba(0, 0, 0, 25%);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column     : 1 / -1;
  background-color: #02010a;
  opacity         : 90%;
  display         : flex;
  align-items     : flex-end;
  justify-content : space-around;
  flex-direction  : column;
  padding         : 15px;
  word-wrap       : break-word;
  word-break      : break-all;
}

.output .previous-operand {
  color    : #cad2c5;
  opacity  : 80%;
  font-size: 1.3rem;
}

.output .current-operand {
  color    : #fff;
  opacity  : 90%;
  font-size: 2.5rem;
}